*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

html {
    /* scroll-behavior: smooth; */
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    /* overflow-x: hidden; */
    width: 100%;
}

.mobile-menu-toggle {
    display: none;
}

.hero-bg {
    visibility: hidden;
    flex-grow: 0;
}

.hero-bg::before {
    content: "";
    visibility: visible;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: inline-block;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    background-image: url("~/images/wood_heroImage3.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(105%) contrast(130%) brightness(80%);

}

.hero {
    /* height: max(100vh, 800px); */
    min-height: fit-content;
    height: 100vh;
    width: 100%;

    /* background-image: url("~/images/wood_heroImage3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    width: 100%;
    letter-spacing: 2px;
    padding-top: 2rem;
    color: white;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-items: center;
    align-items: center;
}

.hero-header,
.spacer-bottom {
    flex-grow: 1;
    height: 10rem;
    width: 100%;
}

.hero-header {
    padding-top: 1rem;
    display: flex;
    align-items: flex-start;
}

.menu-options {
    /* left:0px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    z-index: 2;

}

.nav-logo {
    width: min(10rem, 30vw);
    height: auto;
    filter: brightness(105%);
}


.center-logo {
    max-width: 70%;

}


.page-break {
    height: 200vh;
    background-color: antiquewhite;
}

@media only screen and (max-width: 1000px) {
    .nav-header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content 1fr;
        row-gap: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .nav-header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 1rem;
    }

    .menu-options {
        position: fixed;
        top: -100vh;
    }

    .mobile-menu-toggle {
        display: block;
    }
}

@media only screen and (prefers-reduced-motion: reduce) {
    * {
        /* Very short durations means JavaScript that relies on events still works */
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}