*, ::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img, svg {
    display:block;
    height: 100%;
}
ul {
    list-style-type: none;
}

:root{
    font-family:  "Roboto", sans-serif;
}

.hero {
    height: 100vh;
    width: 100vw;

    background-image: url("~/images/wood_heroImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(110%) contrast(130%) brightness(80%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    padding-top: 2rem;
    height: 10rem;
    width: 100%;
    color: white;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.flex-hori {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 30%;

}

.nav-logo {
    height: 8.5rem;
    filter:brightness(105%);
    display: flex;
    justify-content: center;
}

.center-logo {
    height: min(50%, 296px);
    
}

.spacer-bottom {
    height: 10rem;
    width: 50%;
}

