*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	all: unset;
}

img,
svg {
	display: block;
	width: 100%;
}

ul {
	list-style-type: none;
}

html {
	/* scroll-behavior: smooth; */
	font-family: "Roboto", sans-serif;
	color: white;
	--bgColor: rgb(197, 145, 130);
}

body {
	width: 100%;
	background-color: black;
}

.hero-bg {
	visibility: hidden;
	flex-grow: 0;
}

/* .hero-bg::before {
	content: "";
	visibility: visible;
	position: fixed;
	top:0;
	left: 0;
	width: calc(var(--vw, 1vw) * 100);
	height: calc(var(--vdh, 1vh) * 100);
	z-index: -999;
	background-image: url("~/images/wood_heroImage3.png");
	background-repeat: no-repeat;
	background-size: cover;
	filter: saturate(105%) contrast(130%) brightness(80%);
} */

.hero {
	min-height: fit-content;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	/* background-image: url("~/images/wood_heroImage3.png"); */
	background-image: url("~/images/woodboardFIltered.png");

	background-repeat: no-repeat;
	background-size: cover;
	/* filter: saturate(105%) contrast(130%) brightness(80%); */
}

.nav-header {
	width: 100%;
	letter-spacing: 2px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: white;
	text-transform: uppercase;

	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	justify-items: center;
	align-items: center;
	z-index: 2;
}

.fixed-header-js {
	position: fixed;
	top: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.35) 70%, transparent);
	display: flex;
	justify-content: center;
	animation: popIn 300ms ease-out forwards;
}

.unfix-header-js {
	animation: fadeOutIn 500ms linear forwards;
}



.fixed-header-js > .nav-logo {
	display: none;
}

.hero-header,
.spacer-bottom {
	flex-grow: 1;
	height: 10rem;
	width: 100%;
}

.hero-header {
	display: flex;
	align-items: flex-start;
}

.menu-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.nav-logo {
	width: min(10rem, 30vw);
	height: auto;
	filter: brightness(105%);
}

.center-logo {
	max-width: 70%;
}

.page-break {
	height: calc(var(--vh, 1vh) * 200);
	background-color: var(--bgColor);
}

#mobile-menu, #mobile-hamburg {
	display: none;
}

@media only screen and (min-width: 760px) {
	button#mobile-hamburg {
		width: 3.5rem;
	}

	#nav-header.hamburg-open ul#mobile-menu {
		font-size: 1.25rem;
	}
}
@media only screen and (max-width: 1090px) {
	

	
	.nav-header {
		display: flex;
		justify-content: flex-start;
		padding: 0.75rem;
	}
	.nav-header.fixed-header-js {
		background: none;
	}

	.nav-logo{
		display: none;
	}

	.menu-options {
		display: none;
	}
	button#mobile-hamburg {
		flex-shrink: 0;
		display: block;
		width: 2.75rem;
		border-radius: 15px;
		border: 2px solid rgb(20, 20, 20);
		fill: rgb(20, 20, 20);
		overflow: hidden;
		background: rgb(222, 177, 148);
	}

/*#region Mobile Hamburger Menu Animations*/


	#nav-header.hamburg-open #mobile-hamburg {
		background-color: lightcoral;
		transition: background-color 220ms;
	}

	#hamburg-svg > * {
		transform-origin: center;
		--animDuration: 100ms;
		--rotateDuration: 165ms;

		transition: 
			transform var(--rotateDuration) ease-out 0ms,
		 	y var(--animDuration) ease-out var(--rotateDuration),
			opacity 0.001ms ease-out var(--rotateDuration),
			background-color var(--rotateDuration);
	}


	#nav-header.hamburg-open #hamburg-svg > * {
		y: 44;
		transition: 
			y var(--animDuration), 
			transform var(--rotateDuration) ease-out var(--animDuration),
			opacity 0.001ms ease-out var(--animDuration);

	}
	#nav-header.hamburg-open #hamburg-svg > rect.top {
		transform:rotate(45deg);
	}
	#nav-header.hamburg-open #hamburg-svg > rect.bottom {
		transform:rotate(-45deg);
	}
	#nav-header.hamburg-open #hamburg-svg > rect.middle {
		opacity: 0;
	}
/*#endregion*/

/*region Mobile Menu Styling*/
	nav#nav-header.hamburg-open {
		position: fixed;
		top:0;
		gap: 2rem;
		/* background-color: rgb(104, 78, 61); */
		flex-direction: column;
		align-items: flex-start ;
		width: 100%;
		height: 100%;
		animation: fadeOutIn 500ms linear forwards, fadeBg 650ms linear forwards;
	}
	nav#nav-header.fixed-header-js.hamburg-open {
		animation: popIn 300ms ease-out forwards, fadeBg 650ms linear forwards;
	}
	
	@keyframes fadeBg {
		from {
			background-color: transparent;
		}
		to {
			background-color: rgb(104, 78, 61);
		}
	}

	

	#nav-header.hamburg-open #hamburg-wrapper {
		width: 100%;
		padding-bottom: 0.75rem;
		border-bottom: 2px dashed whitesmoke;
		
	}

	/*Mobile Drop down menu*/
	#nav-header.hamburg-open #mobile-menu {
		display: block;
		position: relative;
		top:0;
		width: 100%;
		overflow-y: auto;
		animation: 675ms cubic-bezier(0.03, 0.86, 0.39, 1.02) 0ms 1 normal popInRelative, fadeIn 750ms linear;
	}
	#nav-header.hamburg-open #mobile-menu >li:first-child {
		padding-top: 0.75rem;
	}
	#nav-header.hamburg-open #mobile-menu > li {
		padding: 1.5rem 0 1.5rem 0rem;
		margin: 0 3rem 0 2.5rem;
		border-bottom: 2px solid whitesmoke;
	}

	#nav-header.hamburg-open #mobile-menu >li:last-child {
		border: unset;
	}

}
/*endregion*/


@media only screen and (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
}
@keyframes popInRelative {
	from{
		top: -120%;
	}
	to {
		top: 0;
	}
}

@keyframes popIn {
	from {
		top:calc(var(--vh, 1vh) * -30);
	}
	to {
		top:0;
	}
}

@keyframes fadeIn {
	from { 
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOutIn {
	0%{
		opacity: 1;
		position: fixed;
		top: 0;
		background: linear-gradient(rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.35) 80%, transparent);
	}
	50%{
		opacity: 0;
		background: unset;
	}
	51%{
		position:block;
	}
	100% {
		opacity: 1;
	}
}

